@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Hachi+Maru+Pop&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 24px;
  color: #382236;
}

